body {
  font-family: 'Poppins', sans-serif;
  background: #202020;
  color: #fff;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/*----------------------------------header---------------------------------- */

.header-logo {
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}

.header-list-link {
  color: #fff;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03em;
  display: block;
  padding: 35px 0;
}

.header-button {
  border-radius: 5px;
  background: #ffeb38;
  color: #0e0e0e;
  font-family: inherit;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 10px 18px;
  border: none;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
/* .header-list-item:not(:last-child){ margin-right:40px ;}*/

/* --------------------------main------------------------ */

/* section-hero */

.hero-section {
  padding: 190px 0;
}

.hero-suptitle {
  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.03em;
  margin-bottom: 14px;
}

.hero-suptitle-part {
  color: #ffeb38;
  font-weight: 700;
}

.hero-title {
  color: #fff;
  font-size: 70px;
  line-height: 1.29; /* 89.95px */
  letter-spacing: 0.03em;
  max-width: 797px;

  text-align: center;
  margin: 0 auto 22px auto;
}

.text {
  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.03em;
}

.hero-text{
  max-width: 797px;

  margin: 0 auto 30px auto;
}

.hero-button-list{
  display: flex;
  gap: 18px;
  justify-content: center;
}

.hero-button {
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  line-height: normal;
  letter-spacing: 0.03em;

  padding: 12px 34px;
}

.hero-button:hover,
.hero-button:focus {
  background: #FFEB38;
}


